html,body {
    height: 80%;
}

.container {
    height: 460px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;
} 

h2,h3,h4,p {
    font-family: 'Source Sans Pro', sans-serif;
}

.img-responsive {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    padding-top: 55px;
}

.linkedlogo, .mailicon {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    height: 70px; 
}

.mailicon{
    padding-left: 45px;
}

#images{
    text-align:center;
}