html,body {
    height: 80%;
}

.pull-right {
    height:10px;
    padding-right: 0.01%;
    margin-top: 20px;
    
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.0em;
} 

h2,h3,h4,p {
    font-family: 'Source Sans Pro', sans-serif;
}

.img-responsive {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    padding-top: 7%;
}

.linkedlogo, .mailicon {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    height: 70px; 
}

.mailicon{
    padding-left: 45px;
}

#images{
    text-align:center;
}

#page {
    text-align: center;
    margin-top: 6%;
}

.page2{
    padding-left: 10px;
}

.page3 {
    padding-left: 10px;
}

    

