html, body {
        position: relative;
        height: 100%;
    }
body {
        background: #eee;
        font-family: 'Roboto', sans-serif;
        color:#000;
        margin: 0;
        padding: 0;
    }

h1, h2, h3, h4, h5, p {
    font-family: 'Roboto', sans-serif;
}

.socialbutton {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #4A90E2;
    position: fixed;
    margin-left: 80%; 
    margin-top: 20px;
    border: 2px solid white;
    box-shadow: 0 0 0 1.5px #4A90E2;
    cursor: pointer;   
}

.socialbuttonsml {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #4A90E2;
    position: fixed;
    margin-left: 82.5%; 
    margin-top: 20px;
    border: 1px solid white;
    box-shadow: 0 0 0 1.5px #4A90E2;
    cursor: pointer; 
    display: none;
}



.swiper-container {
        width: 100%;
        height: 100%;
    }

.text-center{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 2em;
    margin-top: 70px;
}

#logolarge {
    margin-top: 110px;
}

#logosmall {
    margin-top: 55px;
    display: none;
}

#images{
    display: table;
    margin: 0 auto;
    margin-top: 50px;
}

.linkedlogo, .mailicon {
    height: 4.5em; 
}

.mailicon {
    margin-left: 40px;
}

.mattimg {
    max-width: 100%;
    height: auto;
}

#subline {
    height: 1px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #4A90E2;
}
#sublinesml {
    height: 1px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #4A90E2;
    display: none;
}

@media only screen and (max-width: 500px){
   .socialbutton {
       display: none;
   }
    
    .socialbuttonsml {
        display: block;
    }
    
    #logolarge{
     display: none;
   }


   #logosmall{
     display: block;
   }
    
    .text-center{
        font-size: 1.7em;
    }
    
    #subline {
        display: none;
    }
    
    #sublinesml{
        display: block;
    }
      
}


